# See http://help.github.com/ignore-files/ for more about ignoring files.


# IDEs and editors
.svn
.vscode

#
_files
_old
cache/*.php
*adminer.sql.gz
config.php
*.csv
*.docx
*].php
*.xml
files/sync/*.*
lib/flydom



# font cache
*.cw.dat
*.mtx.php
*.cw127.php