#hide_section,
.about_hidden {
	display: none
}
#main {
	width: 100%;
	height: auto;
	background: #fff;
	padding: 30px 0 0
}
#main .main_catalog {
	width: 100%;
	height: auto;
	background: #f4f4f8;
	position: relative
}
#main .main_catalogbtn {
	display: block;
	width: 100%;
	height: auto;
	background: #f07057;
	border: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 11px 0 11px 15px;
	font: 1em/1.1em ProximaNova-SemiBold, sans-serif;
	text-align: left;
	color: #fff;
	position: relative;
	cursor: default
}
#main .main_catalogbtn i {
	cursor: default
}
#main .main_catalogmenu {
	width: 100%;
	height: auto;
	background: #fff;
	border: 1px solid #f4f4f8;
	border-top: none;
	border-radius: 5px;
	position: relative
}
#main .main_catalogmenu li {
	padding: 0
}
#main .main_catalogmenu li a {
	display: block;
	width: 100%;
	padding: 11px 15px;
	font: 1em/1em ProximaNova, sans-serif;
	color: #484848;
	position: relative
}
#main .main_catalogmenu li a:hover {
	cursor: pointer;
	opacity: .5
}
#main .main_catalogmenu li a:after {
	content: "";
	display: none;
	width: 9px;
	height: 9px;
	border-right: 2px solid #bcbccb;
	border-top: 2px solid #bcbccb;
	transform: rotate(45deg);
	margin-left: 13px;
	position: absolute;
	top: calc(50% - 4px);
	right: 10px;
	transition: all .3s
}
#main .main_catalogmenu li a.has-submenu:after {
	content: "";
	display: block
}
#main .main_catalogmenu li>.has-submenu:hover+ul.level_1 {
	display: block
}
#main .main_catalogmenu li>.has-submenu+ul.level_1 {
	display: none;
	position: absolute;
	right: -250px;
	top: 0;
	width: 250px;
	min-height: 100%;
	text-align: left;
	background: #424242;
	z-index: 3
}
#main .main_catalogmenu li>.has-submenu+ul.level_1:hover {
	display: block
}
#main .main_catalogmenu li>.has-submenu+ul.level_1 li {
	padding: 0
}
#main .main_catalogmenu li>.has-submenu+ul.level_1 li:hover {
	background: #6b6b6b
}
#main .main_catalogmenu li>.has-submenu+ul.level_1 li:hover a {
	border-bottom: 1px solid transparent;
	transition: all 0s
}
#main .main_catalogmenu li>.has-submenu+ul.level_1 li a {
	display: block;
	width: 100%;
	padding: 15px;
	font: .9em/1em ProximaNova, sans-serif;
	color: #fff;
	text-align: left;
	border-bottom: 1px solid #484848;
	transition: all 0s
}
#main .main_catalogmenu li>.has-submenu:hover+ul.level_2 {
	display: block
}
#main .main_catalogmenu li>.has-submenu+ul.level_2 {
	display: none;
	position: absolute;
	right: -250px;
	top: -100%;
	width: 250px;
	text-align: left;
	background: #424242;
	z-index: 3
}
#main .main_catalogmenu li>.has-submenu+ul.level_2:hover {
	display: block
}
#main .main_catalogmenu li>.has-submenu+ul.level_2 li {
	padding: 0
}
#main .main_catalogmenu li>.has-submenu+ul.level_2 li:hover {
	background: #6b6b6b
}
#main .main_catalogmenu li>.has-submenu+ul.level_2 li:hover a {
	border-bottom: 1px solid transparent;
	transition: all 0s
}
#main .main_catalogmenu li>.has-submenu+ul.level_2 li a {
	display: block;
	width: 100%;
	padding: 15px;
	font: .9em/1em ProximaNova, sans-serif;
	color: #fff;
	text-align: left;
	border-bottom: 1px solid #484848;
	transition: all 0s
}
#main #owl_slider .owl_slide .slider_contbig,
#main #owl_slider .owl_slide .slider_contsmall {
	display: block;
	min-height: 400px;
	transition: all .25s
}
#main #owl_slider .owl_slide .slider_contbig:hover .slider_title1,
#main #owl_slider .owl_slide .slider_contbig:hover .slider_title2,
#main #owl_slider .owl_slide .slider_contsmall:hover .slider_title1,
#main #owl_slider .owl_slide .slider_contsmall:hover .slider_title2 {
	color: #f07057;
	transition: all .25s
}
#main #owl_slider .owl_slide .slider_contbig {
	width: calc(100% + 15px);
	height: 100%;
	background: #191919;
	position: relative
}
#main #owl_slider .owl_slide .slider_contbig .slider_title1 {
	display: block;
	padding: 40px 0 0 50px;
	font: 1.25em/1.25em ProximaNova-Bold, sans-serif;
	color: #fff
}
#main #owl_slider .owl_slide .slider_contbig .slider_title1:hover {
	color: #f07057
}
#main #owl_slider .owl_slide .slider_contbig .slider_img1,
#main #owl_slider .owl_slide .slider_contbig img {
	display: block;
	width: auto;
	max-width: 100%;
	position: absolute;
	bottom: 0;
	right: 20px
}
#main #owl_slider .owl_slide .slider_contsmall {
	width: calc(100% + 15px);
	margin-left: -15px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background: #f4f4f8
}
#main #owl_slider .owl_slide .slider_contsmall .slider_item {
	display: block;
	width: 50%;
	height: 200px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	position: relative;
	transition: all .25s
}
#main #owl_slider .owl_slide .slider_contsmall .slider_item:hover .slider_title1,
#main #owl_slider .owl_slide .slider_contsmall .slider_item:hover .slider_title2 {
	color: #f07057;
	transition: all .25s
}
#main #owl_slider .owl_slide .slider_contsmall .slider_item .slider_title2 {
	display: block;
	margin: 20px 0 0 30px;
	font: 1em/1em ProximaNova-Bold, sans-serif;
	color: #000
}
#main #owl_slider .owl_slide .slider_contsmall .slider_item .slider_title2:hover {
	color: #f07057
}
#main #owl_slider .owl_slide .slider_contsmall .slider_item .slider_img2,
#main #owl_slider .owl_slide .slider_contsmall .slider_item img {
	display: block;
	width: auto;
	max-width: 100%;
	position: absolute;
	bottom: 0;
	right: 20px
}
#main #bootstrap_slider {
	max-width: 100%;
	border-radius: 5px;
	overflow: hidden;
	box-sizing: border-box;
	position: relative
}
#main #bootstrap_slider .carousel-control-next,
#main #bootstrap_slider .carousel-control-prev {
	width: 50px
}
#main #bootstrap_slider .carousel-control-next i,
#main #bootstrap_slider .carousel-control-prev i {
	width: 35px;
	height: 35px;
	background: #fff;
	border-radius: 5px;
	text-align: center;
	color: #bcbccb;
	font-size: 1.5em;
	pointer-events: auto
}
#main #bootstrap_slider .carousel-control-next i:before,
#main #bootstrap_slider .carousel-control-prev i:before {
	position: absolute
}
#main #bootstrap_slider .carousel-control-next i:hover,
#main #bootstrap_slider .carousel-control-prev i:hover {
	background: #f07057;
	color: #fff
}
#main #bootstrap_slider .carousel-control-prev i:before {
	top: calc(50% - 12px);
	left: calc(50% - 7px)
}
#main #bootstrap_slider .carousel-control-next i:before {
	top: calc(50% - 12px);
	left: calc(50% - 6px)
}
#main #bootstrap_slider .carousel-item.img_bg {
	min-height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%
}
#main #bootstrap_slider .carousel-item .slider_contbig,
#main #bootstrap_slider .carousel-item .slider_contsmall {
	display: block;
	min-height: 400px;
	transition: all .25s
}
#main #bootstrap_slider .carousel-item .slider_contbig:hover .slider_title1,
#main #bootstrap_slider .carousel-item .slider_contbig:hover .slider_title2,
#main #bootstrap_slider .carousel-item .slider_contsmall:hover .slider_title1,
#main #bootstrap_slider .carousel-item .slider_contsmall:hover .slider_title2 {
	color: #f07057;
	transition: all .25s
}
#main #bootstrap_slider .carousel-item .slider_contbig {
	width: calc(100% + 15px);
	height: 100%;
	background: #191919;
	position: relative
}
#main #bootstrap_slider .carousel-item .slider_contbig .slider_title1 {
	display: block;
	padding: 40px 0 0 50px;
	font: 1.25em/1.25em ProximaNova-Bold, sans-serif;
	color: #fff
}
#main #bootstrap_slider .carousel-item .slider_contbig .slider_title1:hover {
	color: #f07057
}
#main #bootstrap_slider .carousel-item .slider_contbig .slider_img1,
#main #bootstrap_slider .carousel-item .slider_contbig img {
	display: block;
	width: auto;
	max-width: 100%;
	position: absolute;
	bottom: 0;
	right: 20px
}
#main #bootstrap_slider .carousel-item .slider_contsmall {
	width: calc(100% + 15px);
	margin-left: -15px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background: #f4f4f8
}
#main #bootstrap_slider .carousel-item .slider_contsmall .slider_item {
	display: block;
	width: 50%;
	height: 200px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	position: relative;
	transition: all .25s
}
#main #bootstrap_slider .carousel-item .slider_contsmall .slider_item:hover .slider_title1,
#main #bootstrap_slider .carousel-item .slider_contsmall .slider_item:hover .slider_title2 {
	color: #f07057;
	transition: all .25s
}
#main #bootstrap_slider .carousel-item .slider_contsmall .slider_item .slider_title2 {
	display: block;
	margin: 20px 0 0 30px;
	font: 1em/1em ProximaNova-Bold, sans-serif;
	color: #000
}
#main #bootstrap_slider .carousel-item .slider_contsmall .slider_item .slider_title2:hover {
	color: #f07057
}
#main #bootstrap_slider .carousel-item .slider_contsmall .slider_item .slider_img2,
#main #bootstrap_slider .carousel-item .slider_contsmall .slider_item img {
	display: block;
	width: auto;
	max-width: 100%;
	position: absolute;
	bottom: 0;
	right: 0
}
#main .main_describe {
	width: 100%;
	height: auto;
	margin: 30px 0;
	padding: 35px;
	background-color: #f4f4f8;
	background-image: url(../img/pat2.png);
	background-repeat: repeat-all;
	border-radius: 5px
}
#main .main_describe .main_title {
	font: 1.25em/1em ProximaNova-SemiBold, sans-serif;
	text-align: center;
	color: #484848;
	padding-bottom: 15px;
	margin-bottom: 15px;
	position: relative
}
#main .main_describe .main_title:after {
	content: "";
	display: block;
	width: 100px;
	height: 1px;
	background: #f07057;
	position: absolute;
	bottom: 0;
	left: calc(50% - 50px)
}
#main .main_describe .main_text1 {
	font: 1em/1.1em ProximaNova, sans-serif;
	text-align: center;
	color: #484848
}
#main .main_describe .main_text1.mb40 {
	margin-bottom: 40px
}
#main .minicatalog {
	background: #f4f4f8;
	padding: 50px 0 30px
}
#main .minicatalog .minicatalog_title {
	font: 2em/1em ProximaNova-Bold, sans-serif;
	text-align: center;
	color: #000;
	margin-bottom: 30px
}
#main .minicatalog .minicatalog_items {
	width: 100%;
	height: auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}
#main .minicatalog .minicatalog_items .minicatalog_item {
	width: calc(15% - 10px);
	width: 220px;
	height: auto;
	padding: 0;
	background: #fff;
	border-radius: 5px;
	box-shadow: 3px 3px 6px 0 rgba(188, 188, 203, .3);
	margin: 30px 5px 0;
	padding: 0 15px;
	padding-bottom: 15px;
	position: relative
}
#main .minicatalog .minicatalog_items .minicatalog_item .minicatalog_status {
	display: block;
	position: absolute;
	top: 10px;
	left: 10px
}
#main .minicatalog .minicatalog_items .minicatalog_item .minicatalog_status li {
	display: inline-block;
	margin-right: 0
}
#main .minicatalog .minicatalog_items .minicatalog_item .minicatalog_status li i {
	display: block;
	width: 25px;
	padding: 5px;
	border-radius: 5px;
	background: #ff4866;
	text-align: center;
	font-size: 1em;
	color: #fff
}
#main .minicatalog .minicatalog_items .minicatalog_item .minicatalog_status li:nth-child(2) i {
	background: #f07057
}
#main .minicatalog .minicatalog_items .minicatalog_item .miniitem_imgcont {
	width: 100%;
	padding: 20px 0;
	margin-bottom: 30px;
	position: relative
}
#main .minicatalog .minicatalog_items .minicatalog_item .miniitem_imgcont .miniitem_img {
	display: block;
	max-width: 125px;
	margin: 0 auto
}
#main .minicatalog .minicatalog_items .minicatalog_item .minicatalog_name-product {
	display: block;
	max-height: 50px;
	overflow-y: hidden;
	font: 1em/1.1em ProximaNova-SemiBold, sans-serif;
	color: #484848;
	margin-bottom: 30px
}
#main .minicatalog .minicatalog_items .minicatalog_item .minicatalog_name-product:hover {
	color: #f07057
}
#main .minicatalog .minicatalog_items .minicatalog_item .minicatalog_available {
	font: .9em/1em ProximaNova, sans-serif;
	color: #6bbb5f;
	margin-bottom: 15px;
	padding-left: 12px;
	position: relative
}
#main .minicatalog .minicatalog_items .minicatalog_item .minicatalog_available.not {
	color: #bcbccb
}
#main .minicatalog .minicatalog_items .minicatalog_item .minicatalog_available.not:before {
	background: #bcbccb
}
#main .minicatalog .minicatalog_items .minicatalog_item .minicatalog_available:before {
	content: "";
	display: block;
	width: 5px;
	height: 5px;
	background: #6bbb5f;
	border-radius: 50%;
	position: absolute;
	top: calc(50% - 3px);
	left: 0
}
#main .minicatalog .minicatalog_items .minicatalog_item .minicatalog_itemcont {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	padding-bottom: 10px
}
#main .minicatalog .minicatalog_items .minicatalog_item .minicatalog_itemcont .minicatalog_price {
	font: .9em/1em ProximaNova-SemiBold, sans-serif;
	color: #f07057
}
#main .minicatalog .minicatalog_items .minicatalog_item .minicatalog_itemcont .minicatalog_addToCard {
	display: block;
	font: .9em/1em ProximaNova, sans-serif;
	text-align: center;
	color: #fff;
	background: #f07057;
	border: none;
	border-radius: 5px;
	padding: 12px 20px;
	cursor: pointer;
	position: relative;
	z-index: 2
}
#main .minicatalog .minicatalog_items .minicatalog_item .minicatalog_itemcont .minicatalog_addToCard:hover {
	background: #f75131
}
#main .about {
	width: 100%;
	height: auto;
	padding: 50px 0 20px;
	background: url(../img/about_bg1.png) no-repeat 100% 0 #fff
}
#main .about .about_title {
	margin-bottom: 20px;
	font: 2em/2em ProximaNova-Bold, sans-serif;
	color: #000
}
#main .about .about_text1 {
	font: .9em/1.5em ProximaNova, sans-serif;
	color: #484848
}
#main .about .about_garantcont {
	margin: 30px 0;
	padding: 30px;
	border-radius: 5px;
	overflow: hidden;
	background-color: rgba(96, 231, 101, .1);
	position: relative
}
#main .about .about_garantcont:after {
	content: url(../img/garanty_img.png);
	position: absolute;
	bottom: -3px;
	right: 30px
}
#main .about .about_garantcont .garant_title {
	font: 1.5em/1em ProximaNova-Bold, sans-serif;
	color: #40b557;
	margin-bottom: 10px
}
#main .about .about_garantcont .garant_text1 {
	font: .9em/1.25em ProximaNova, sans-serif;
	color: #484848
}
#main .about .about_subtitle {
	font: 1.25em/1em ProximaNova-SemiBold, sans-serif;
	color: #484848;
	margin-bottom: 30px
}
#main .about .about_list li {
	font: .9em/1.25em ProximaNova, sans-serif;
	color: #484848;
	padding-left: 40px;
	margin-bottom: 25px;
	position: relative
}
#main .about .about_list li:before {
	content: "";
	display: block;
	width: 14px;
	height: 9px;
	background: transparent;
	border-left: 3px solid #40b557;
	border-bottom: 3px solid #40b557;
	transform: rotate(-45deg);
	position: absolute;
	top: calc(50% - 7px);
	left: 0
}
#main .about .about_toggle {
	display: inline-block;
	background: transparent;
	border: none;
	overflow: visible;
	border-radius: 5px;
	font: 1em/1.25em ProximaNova-SemiBold, sans-serif;
	color: #f07057;
	padding-right: 15px;
	cursor: pointer;
	position: relative;
	z-index: 2;
	margin-bottom: 30px
}
#main .about .about_toggle:before {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	background: transparent;
	border-right: 2px solid #f07057;
	border-bottom: 2px solid #f07057;
	transform: rotate(45deg);
	position: absolute;
	top: calc(50% - 4px);
	top: 6px;
	right: 0;
	transition: all .25s;
	z-index: 3
}
#main .about .about_toggle:hover {
	color: #000
}
#main .about .about_toggle:hover:before {
	right: -10px;
	transition: all .25s
}
#main .guitar {
	width: 100%;
	height: auto;
	padding: 50px 0 20px;
	background: #fff
}
#main .guitar .guitar_imgcont {
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #f4f4f8;
	overflow: hidden
}
#main .guitar .guitar_imgcont .guitar_img {
	display: block;
	max-width: 100%;
	margin: 0 auto
}
#main .guitar .guitar_title {
	font: 1.25em/1.25em ProximaNova-SemiBold, sans-serif;
	color: #484848;
	padding: 20px 0;
	position: relative;
	margin-bottom: 20px
}
#main .guitar .guitar_title:before {
	content: "";
	display: block;
	width: 70px;
	height: 2px;
	background: #f07057;
	position: absolute;
	bottom: 0;
	left: 0
}
#main .guitar .guitar_text1 {
	font: .9em/1.5em ProximaNova, sans-serif;
	color: #484848
}
#main .guitar .guitar_list {
	padding: 30px 0
}
#main .guitar .guitar_list li {
	font: .9em/1.5em ProximaNova, sans-serif;
	color: #484848;
	padding-left: 22px;
	margin-bottom: 15px;
	position: relative
}
#main .guitar .guitar_list li:last-child {
	margin-bottom: 0
}
#main .guitar .guitar_list li:before {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	background: transparent;
	border-right: 2px solid #f07057;
	border-bottom: 2px solid #f07057;
	transform: rotate(-45deg);
	position: absolute;
	top: calc(50% - 4px);
	top: 6px;
	left: 0
}
#main .connoisseurs {
	width: 100%;
	height: auto;
	padding: 50px 0 0;
	background: #fff
}
#main .connoisseurs .connoisseurs_cont {
	width: 100%;
	height: auto;
	background: #191919;
	padding: 40px;
	border-radius: 5px;
	overflow: hidden;
	position: relative
}
#main .connoisseurs .connoisseurs_cont:after {
	content: url(../img/sentezator.png);
	position: absolute;
	top: calc(50% - 157px);
	right: -100px
}
#main .connoisseurs .connoisseurs_title {
	font: 1.25em/1.25em ProximaNova-SemiBold, sans-serif;
	color: #fff;
	padding: 20px 0;
	position: relative;
	margin-bottom: 20px
}
#main .connoisseurs .connoisseurs_title:before {
	content: "";
	display: block;
	width: 70px;
	height: 2px;
	background: #f07057;
	position: absolute;
	bottom: 0;
	left: 0
}
#main .connoisseurs .connoisseurs_text1 {
	display: block;
	width: 50%;
	font: .9em/1.5em ProximaNova, sans-serif;
	color: #fff
}
#main .connoisseurs .connoisseurs_list {
	padding: 35px 0
}
#main .connoisseurs .connoisseurs_list li {
	font: .9em/1.5em ProximaNova, sans-serif;
	color: #fff;
	padding-left: 22px;
	margin-bottom: 15px;
	position: relative
}
#main .connoisseurs .connoisseurs_list li:last-child {
	margin-bottom: 0
}
#main .connoisseurs .connoisseurs_list li:before {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	background: transparent;
	border-right: 2px solid #f07057;
	border-bottom: 2px solid #f07057;
	transform: rotate(-45deg);
	position: absolute;
	top: calc(50% - 4px);
	top: 6px;
	left: 0
}
#main .connoisseurs .connoisseurs_btn {
	display: inline-block;
	padding: 15px 20px;
	background: #f07057;
	border-radius: 5px;
	font: .9em/1em ProximaNova, sans-serif;
	text-align: center;
	color: #fff;
	cursor: pointer;
	position: relative;
	z-index: 2;
	margin-bottom: 30px
}
#main .connoisseurs .connoisseurs_btn:hover {
	background: #f75131
}
#main .sound {
	width: 100%;
	height: auto;
	padding: 50px 0 0;
	background: #fff
}
#main .sound .sound_imgcont {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: #f4f4f8;
	overflow: hidden
}
#main .sound .sound_imgcont .sound_img {
	display: block;
	max-width: 100%;
	margin-left: -20px
}
#main .sound .sound_imgcont .sound_img.right {
	margin-bottom: -20px
}
#main .sound .sound_title {
	font: 1.25em/1.25em ProximaNova-SemiBold, sans-serif;
	color: #484848;
	padding: 20px 0;
	position: relative;
	margin-bottom: 20px
}
#main .sound .sound_title:before {
	content: "";
	display: block;
	width: 70px;
	height: 2px;
	background: #f07057;
	position: absolute;
	bottom: 0;
	left: 0
}
#main .sound .sound_text1 {
	font: .9em/1.5em ProximaNova, sans-serif;
	color: #484848;
	margin-bottom: 30px
}
#main .sound .sound_btn {
	display: inline-block;
	border-radius: 5px;
	font: 1em/1.25em ProximaNova-SemiBold, sans-serif;
	color: #f07057;
	padding-right: 15px;
	cursor: pointer;
	position: relative;
	z-index: 2;
	margin-bottom: 30px
}
#main .sound .sound_btn:before {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	background: transparent;
	border-right: 2px solid #f07057;
	border-bottom: 2px solid #f07057;
	transform: rotate(-45deg);
	position: absolute;
	top: calc(50% - 4px);
	top: 6px;
	right: 0;
	transition: all .25s
}
#main .sound .sound_btn:hover {
	color: #000
}
#main .sound .sound_btn:hover:before {
	right: -10px;
	transition: all .25s
}
#main .advantages {
	width: 100%;
	height: auto;
	padding: 50px 0 0;
	background: #fff
}
#main .advantages .advantages_title {
	font: 1.25em/1.25em ProximaNova-SemiBold, sans-serif;
	text-align: center;
	color: #000;
	margin-bottom: 30px
}
#main .advantages .advantages_cont {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: auto;
	min-height: 80px;
	padding: 25px;
	background: #f4f4f8;
	border-radius: 5px;
	margin-bottom: 30px
}
#main .advantages .advantages_text1 {
	font: .9em/1em ProximaNova, sans-serif;
	color: #707070;
	padding-left: 70px;
	position: relative
}
#main .advantages .advantages_text1:before {
	position: absolute;
	left: 0
}
#main .advantages .advantages_text1.icon1:before {
	content: url(../img/advantages_1.svg);
	top: calc(50% - 19px)
}
#main .advantages .advantages_text1.icon2:before {
	content: url(../img/advantages_2.svg);
	top: calc(50% - 20px)
}
#main .advantages .advantages_text1.icon3:before {
	content: url(../img/advantages_3.svg);
	top: calc(50% - 16px)
}
#main .advantages .advantages_text1.icon4:before {
	content: url(../img/advantages_4.svg);
	top: calc(50% - 19px)
}
#main .advantages .advantages_text1.icon5:before {
	content: url(../img/advantages_5.svg);
	top: calc(50% - 15px)
}
#main .advantages .advantages_text2 {
	font: 1.25em/2em ProximaNova-SemiBold, sans-serif;
	color: #000
}
#main .clients {
	width: 100%;
	height: auto;
	padding: 50px 0 20px;
	background: #f4f4f8
}
#main .clients .clients_title {
	font: 2em/2em ProximaNova-Bold, sans-serif;
	text-align: center;
	color: #000;
	margin-bottom: 30px
}
#main .clients .clients_items {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	width: 100%
}
#main .clients .clients_items .clients_item {
	width: 200px;
	width: calc(16% - 30px);
	height: auto;
	background: #fff;
	padding: 20px 0;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 30px
}
#main .clients .clients_items .clients_item .clients_imgcont {
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 80px;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 20px
}
#main .clients .clients_items .clients_item .clients_logo {
	display: block;
	max-width: 100%;
	width: auto;
	height: auto
}
#main .clients .clients_items .clients_item .clients_name {
	font: 1em/1em ProximaNova, sans-serif;
	text-align: center;
	color: #484848
}
@media (max-width: 1491.98px) {
	#main {
		padding: 30px 0 0
	}
	#main .minicatalog {
		padding: 50px 0 30px
	}
	#main .minicatalog .minicatalog_title {
		font: 2em/1em ProximaNova-Bold, sans-serif;
		margin-bottom: 30px
	}
	#main .minicatalog .minicatalog_items {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}
	#main .minicatalog .minicatalog_items .minicatalog_item {
		width: calc(30% - 10px)
	}
}
@media (max-width: 1199.98px) {
	#main {
		padding: 30px 0 0
	}
	#main .main_catalogbtn {
		font: 1em/1.1em ProximaNova-SemiBold, sans-serif
	}
	#main .main_catalogmenu li {
		padding: 0
	}
	#main .main_catalogmenu li a {
		padding: 10px 5px;
		font: 1em/1em ProximaNova, sans-serif
	}
	#main #bootstrap_slider .carousel-item .slider_contbig,
	#main #bootstrap_slider .carousel-item .slider_contsmall {
		display: block;
		min-height: 400px;
		transition: all .25s
	}
	#main #bootstrap_slider .carousel-item .slider_contbig {
		width: calc(100% + 15px);
		height: 100%;
		background: #191919;
		position: relative
	}
	#main #bootstrap_slider .carousel-item .slider_contbig .slider_title1 {
		display: block;
		padding: 40px 0 0 50px
	}
	#main #bootstrap_slider .carousel-item .slider_contbig .slider_img1,
	#main #bootstrap_slider .carousel-item .slider_contbig img {
		display: block;
		width: auto;
		max-width: 100%;
		position: absolute;
		bottom: 0;
		right: 10px
	}
	#main #bootstrap_slider .carousel-item .slider_contsmall {
		width: calc(100% + 15px);
		margin-left: -15px;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		background: #f4f4f8
	}
	#main #bootstrap_slider .carousel-item .slider_contsmall .slider_item {
		display: block;
		width: 50%;
		border-bottom: 1px solid #fff;
		border-right: 1px solid #fff
	}
	#main #bootstrap_slider .carousel-item .slider_contsmall .slider_item .slider_title2 {
		display: block;
		margin: 20px 0 0 30px
	}
	#main .minicatalog {
		padding: 50px 0 30px
	}
	#main .minicatalog .minicatalog_title {
		font: 2em/1em ProximaNova-Bold, sans-serif;
		margin-bottom: 30px
	}
	#main .minicatalog .minicatalog_items {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}
	#main .minicatalog .minicatalog_items .minicatalog_item {
		width: calc(30% - 10px);
		margin: 30px 5px 0;
		padding: 0 15px
	}
	#main .minicatalog .minicatalog_items .minicatalog_item .miniitem_imgcont {
		width: 100%;
		padding: 20px 0;
		margin-bottom: 30px;
		position: relative
	}
	#main .minicatalog .minicatalog_items .minicatalog_item .miniitem_imgcont .miniitem_img {
		display: block;
		max-width: 125px;
		margin: 0 auto
	}
	#main .minicatalog .minicatalog_items .minicatalog_item .minicatalog_name-product {
		display: block;
		max-height: 35px;
		overflow-y: hidden;
		margin-bottom: 15px
	}
	#main .about {
		padding: 50px 0 20px;
		background: url(../img/about_bg1-lg.png) no-repeat 100% 0 #fff
	}
	#main .about .about_title {
		margin-bottom: 20px;
		font: 2em/2em ProximaNova-Bold, sans-serif;
		color: #000
	}
	#main .about .about_text1 {
		font: .9em/1.5em ProximaNova, sans-serif;
		color: #484848
	}
	#main .about .about_garantcont {
		width: 100%;
		margin: 30px 0
	}
	#main .about .about_garantcont:after {
		content: url(../img/garanty_img.png);
		position: absolute;
		bottom: -3px;
		right: 5px;
		opacity: .1
	}
	#main .about .about_garantcont .garant_title {
		font: 1.5em/1em ProximaNova-Bold, sans-serif;
		margin-bottom: 10px
	}
	#main .about .about_garantcont .garant_text1 {
		font: .9em/1.25em ProximaNova, sans-serif
	}
	#main .about .about_subtitle {
		font: 1.25em/1em ProximaNova-SemiBold, sans-serif;
		margin-bottom: 30px
	}
	#main .about .about_list li {
		font: .9em/1.25em ProximaNova, sans-serif;
		padding-left: 40px;
		margin-bottom: 25px
	}
	#main .about .about_toggle {
		display: inline-block
	}
	#main .guitar {
		padding: 50px 0 20px
	}
	#main .guitar .guitar_imgcont {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: start;
		align-items: flex-start
	}
	#main .guitar .guitar_imgcont .guitar_img {
		max-width: 100%;
		margin: 0
	}
	#main .guitar .guitar_title {
		font: 1.25em/1.25em ProximaNova-SemiBold, sans-serif;
		padding: 20px 0;
		margin-bottom: 20px
	}
	#main .guitar .guitar_text1 {
		font: .9em/1.5em ProximaNova, sans-serif
	}
	#main .guitar .guitar_list {
		padding: 30px 0
	}
	#main .guitar .guitar_list li {
		font: .9em/1.5em ProximaNova, sans-serif;
		padding-left: 22px;
		margin-bottom: 15px
	}
	#main .connoisseurs {
		padding: 50px 0 0
	}
	#main .connoisseurs .connoisseurs_cont {
		padding: 40px;
		position: relative
	}
	#main .connoisseurs .connoisseurs_cont:after {
		content: url(../img/sentezator.png);
		position: absolute;
		top: calc(50% - 157px);
		right: -150px;
		z-index: 1
	}
	#main .connoisseurs .connoisseurs_title {
		font: 1.25em/1.25em ProximaNova-SemiBold, sans-serif;
		padding: 20px 0;
		margin-bottom: 20px;
		z-index: 2
	}
	#main .connoisseurs .connoisseurs_text1 {
		width: 60%;
		font: .9em/1.5em ProximaNova, sans-serif;
		position: relative;
		z-index: 2
	}
	#main .connoisseurs .connoisseurs_list {
		padding: 35px 0;
		position: relative;
		z-index: 2
	}
	#main .connoisseurs .connoisseurs_list li {
		font: .9em/1.5em ProximaNova, sans-serif;
		padding-left: 22px;
		margin-bottom: 15px
	}
	#main .connoisseurs .connoisseurs_btn {
		display: inline-block;
		padding: 15px 20px;
		font: .9em/1em ProximaNova, sans-serif;
		margin-bottom: 30px
	}
	#main .sound {
		padding: 50px 0 0
	}
	#main .sound .sound_imgcont {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background: #f4f4f8;
		overflow: hidden
	}
	#main .sound .sound_imgcont .sound_img {
		display: block;
		max-width: 100%;
		margin-left: -20px
	}
	#main .sound .sound_imgcont .sound_img.right {
		margin-bottom: 0
	}
	#main .sound .sound_title {
		font: 1.25em/1.25em ProximaNova-SemiBold, sans-serif;
		padding: 20px 0;
		margin-bottom: 20px
	}
	#main .sound .sound_text1 {
		font: .9em/1.5em ProximaNova, sans-serif;
		margin-bottom: 30px
	}
	#main .sound .sound_btn {
		display: inline-block;
		font: 1em/1.25em ProximaNova-SemiBold, sans-serif;
		padding-right: 15px;
		margin-bottom: 30px
	}
	#main .advantages {
		padding: 50px 0 0
	}
	#main .advantages .advantages_title {
		font: 1.25em/1.25em ProximaNova-SemiBold, sans-serif;
		margin-bottom: 30px
	}
	#main .advantages .advantages_cont {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
		height: auto;
		min-height: 80px;
		padding: 25px;
		background: #f4f4f8;
		border-radius: 5px;
		margin-bottom: 30px
	}
	#main .advantages .advantages_text1 {
		font: .9em/1em ProximaNova, sans-serif;
		padding-left: 70px
	}
	#main .advantages .advantages_text2 {
		font: 1.25em/1.35em ProximaNova-SemiBold, sans-serif
	}
	#main .clients {
		width: 100%;
		height: auto;
		padding: 50px 0 20px;
		background: #f4f4f8
	}
	#main .clients .clients_title {
		font: 2em/2em ProximaNova-Bold, sans-serif;
		text-align: center;
		color: #000;
		margin-bottom: 30px
	}
	#main .clients .clients_items {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		width: 100%
	}
	#main .clients .clients_items .clients_item {
		width: calc(32% - 30px);
		padding: 20px 5px;
		margin: 0 15px 30px
	}
}
@media (max-width: 991.98px) {
	#main {
		padding: 30px 0 0
	}
	#main .main_catalogbtn {
		font: 1em/1.1em ProximaNova-SemiBold, sans-serif
	}
	#main .main_catalogbtn:before {
		content: url(../img/catalog.svg);
		position: absolute;
		top: calc(50% - 10px);
		left: 15px
	}
	#main .main_catalogmenu {
		margin-bottom: 30px
	}
	#main .main_catalogmenu li {
		padding: 0
	}
	#main .main_catalogmenu li a {
		padding: 10px 5px;
		font: 1em/1em ProximaNova, sans-serif
	}
	#main #bootstrap_slider .carousel-item .slider_contbig,
	#main #bootstrap_slider .carousel-item .slider_contsmall {
		display: block;
		min-height: 400px;
		transition: all .25s
	}
	#main #bootstrap_slider .carousel-item .slider_contbig {
		width: calc(100% + 15px);
		height: 100%;
		background: #191919;
		position: relative
	}
	#main #bootstrap_slider .carousel-item .slider_contbig .slider_title1 {
		display: block;
		padding: 40px 0 0 50px
	}
	#main #bootstrap_slider .carousel-item .slider_contbig .slider_img1,
	#main #bootstrap_slider .carousel-item .slider_contbig img {
		display: block;
		width: auto;
		max-width: 100%;
		position: absolute;
		bottom: 0;
		right: 10px
	}
	#main #bootstrap_slider .carousel-item .slider_contsmall {
		width: calc(100% + 15px);
		margin-left: -15px;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		background: #f4f4f8
	}
	#main #bootstrap_slider .carousel-item .slider_contsmall .slider_item {
		display: block;
		width: 50%;
		border-bottom: 1px solid #fff;
		border-right: 1px solid #fff
	}
	#main #bootstrap_slider .carousel-item .slider_contsmall .slider_item .slider_title2 {
		display: block;
		margin: 20px 0 0 30px
	}
	#main .minicatalog {
		padding: 30px 0
	}
	#main .minicatalog .minicatalog_title {
		font: 2em/1em ProximaNova-Bold, sans-serif;
		margin-bottom: 20px
	}
	#main .minicatalog .minicatalog_items {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}
	#main .minicatalog .minicatalog_items .minicatalog_item {
		width: calc(33% - 10px);
		margin: 10px 5px 0;
		padding: 0 15px 15px
	}
	#main .minicatalog .minicatalog_items .minicatalog_item .minicatalog_itemcont .minicatalog_addToCard {
		padding: 10px
	}
	#main .about {
		padding: 30px 0;
		background: #fff
	}
	#main .about .about_title {
		margin-bottom: 20px;
		font: 2em/2em ProximaNova-Bold, sans-serif;
		color: #000
	}
	#main .about .about_text1 {
		font: .9em/1.5em ProximaNova, sans-serif;
		color: #484848
	}
	#main .about .about_garantcont {
		width: 100%;
		margin: 30px 0
	}
	#main .about .about_garantcont:after {
		content: url(../img/garanty_img.png);
		position: absolute;
		bottom: -3px;
		right: 25px;
		opacity: 1
	}
	#main .about .about_garantcont .garant_title {
		font: 1.5em/1em ProximaNova-Bold, sans-serif;
		margin-bottom: 10px
	}
	#main .about .about_garantcont .garant_text1 {
		font: .9em/1.25em ProximaNova, sans-serif
	}
	#main .about .about_subtitle {
		font: 1.25em/1em ProximaNova-SemiBold, sans-serif;
		margin-bottom: 30px
	}
	#main .about .about_list li {
		font: .9em/1.25em ProximaNova, sans-serif;
		padding-left: 40px;
		margin-bottom: 25px
	}
	#main .about .about_toggle {
		display: inline-block
	}
	#main .guitar {
		padding: 30px 0
	}
	#main .guitar .guitar_imgcont {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: start;
		align-items: flex-start
	}
	#main .guitar .guitar_imgcont .guitar_img {
		max-width: 100%;
		margin: 0
	}
	#main .guitar .guitar_title {
		font: 1.25em/1.25em ProximaNova-SemiBold, sans-serif;
		padding: 20px 0;
		margin-bottom: 20px
	}
	#main .guitar .guitar_text1 {
		font: .9em/1.5em ProximaNova, sans-serif
	}
	#main .guitar .guitar_list {
		padding: 30px 0
	}
	#main .guitar .guitar_list li {
		font: .9em/1.5em ProximaNova, sans-serif;
		padding-left: 22px;
		margin-bottom: 15px
	}
	#main .connoisseurs {
		padding: 0
	}
	#main .connoisseurs .connoisseurs_cont {
		padding: 40px;
		position: relative
	}
	#main .connoisseurs .connoisseurs_cont:after {
		content: url(../img/sentezator.png);
		position: absolute;
		top: calc(50% - 157px);
		right: -250px;
		z-index: 1
	}
	#main .connoisseurs .connoisseurs_title {
		font: 1.25em/1.25em ProximaNova-SemiBold, sans-serif;
		padding: 20px 0;
		margin-bottom: 20px;
		z-index: 2
	}
	#main .connoisseurs .connoisseurs_text1 {
		width: 60%;
		font: .9em/1.5em ProximaNova, sans-serif;
		position: relative;
		z-index: 2
	}
	#main .connoisseurs .connoisseurs_list {
		display: block;
		width: 60%;
		padding: 35px 0;
		position: relative;
		z-index: 2
	}
	#main .connoisseurs .connoisseurs_list li {
		font: .9em/1.5em ProximaNova, sans-serif;
		padding-left: 22px;
		margin-bottom: 15px
	}
	#main .connoisseurs .connoisseurs_btn {
		display: inline-block;
		padding: 15px 20px;
		font: .9em/1em ProximaNova, sans-serif;
		margin-bottom: 30px
	}
	#main .sound {
		padding: 50px 0 0
	}
	#main .sound .sound_imgcont {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background: #f4f4f8;
		overflow: hidden
	}
	#main .sound .sound_imgcont .sound_img {
		display: block;
		max-width: 100%;
		margin-left: -20px
	}
	#main .sound .sound_imgcont .sound_img.right {
		margin-bottom: 0
	}
	#main .sound .sound_title {
		font: 1.25em/1.25em ProximaNova-SemiBold, sans-serif;
		padding: 20px 0;
		margin-bottom: 20px
	}
	#main .sound .sound_text1 {
		font: .9em/1.5em ProximaNova, sans-serif;
		margin-bottom: 30px
	}
	#main .sound .sound_btn {
		display: inline-block;
		font: 1em/1.25em ProximaNova-SemiBold, sans-serif;
		padding-right: 15px;
		margin-bottom: 30px
	}
	#main .advantages {
		padding: 50px 0 0
	}
	#main .advantages .advantages_title {
		font: 1.5em/1.25em ProximaNova-SemiBold, sans-serif;
		margin-bottom: 30px
	}
	#main .advantages .advantages_cont {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		min-height: 0;
		margin-bottom: 20px
	}
	#main .advantages .advantages_text1 {
		font: .9em/1em ProximaNova, sans-serif;
		padding-left: 70px
	}
	#main .advantages .advantages_text2 {
		font: 1.125em/1.35em ProximaNova-SemiBold, sans-serif;
		text-align: center
	}
	#main .clients {
		width: 100%;
		height: auto;
		padding: 50px 0 20px;
		background: #f4f4f8
	}
	#main .clients .clients_title {
		font: 2em/2em ProximaNova-Bold, sans-serif;
		text-align: center;
		color: #000;
		margin-bottom: 30px
	}
	#main .clients .clients_items {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		width: 100%
	}
	#main .clients .clients_items .clients_item {
		width: calc(32% - 30px);
		padding: 20px 5px;
		margin: 0 15px 30px
	}
}
@media (max-width: 767.98px) {
	#main {
		padding: 30px 0 0
	}
	#main .main_catalogbtn {
		font: 1em/1.1em ProximaNova-SemiBold, sans-serif
	}
	#main .main_catalogbtn:before {
		content: url(../img/catalog.svg);
		position: absolute;
		top: calc(50% - 10px);
		left: 15px
	}
	#main .main_catalogmenu {
		margin-bottom: 30px
	}
	#main .main_catalogmenu li {
		padding: 0
	}
	#main .main_catalogmenu li a {
		padding: 10px 5px;
		font: 1em/1em ProximaNova, sans-serif
	}
	#main #bootstrap_slider .carousel-item.img_bg {
		min-height: 200px
	}
	#main #bootstrap_slider .carousel-item .slider_contbig,
	#main #bootstrap_slider .carousel-item .slider_contsmall {
		display: block;
		min-height: 400px;
		transition: all .25s
	}
	#main #bootstrap_slider .carousel-item .slider_contbig {
		width: calc(100% + 15px);
		height: 100%;
		background: #191919;
		position: relative
	}
	#main #bootstrap_slider .carousel-item .slider_contbig .slider_title1 {
		display: block;
		padding: 40px 0 0 50px
	}
	#main #bootstrap_slider .carousel-item .slider_contbig .slider_img1,
	#main #bootstrap_slider .carousel-item .slider_contbig img {
		display: block;
		width: auto;
		max-width: 100%;
		position: absolute;
		bottom: 0;
		right: 10px
	}
	#main #bootstrap_slider .carousel-item .slider_contsmall {
		width: calc(100% + 15px);
		margin-left: -15px;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		background: #f4f4f8
	}
	#main #bootstrap_slider .carousel-item .slider_contsmall .slider_item {
		display: block;
		width: 50%;
		border-bottom: 1px solid #fff;
		border-right: 1px solid #fff
	}
	#main #bootstrap_slider .carousel-item .slider_contsmall .slider_item .slider_title2 {
		display: block;
		margin: 20px 0 0 30px
	}
	#main .main_describe {
		width: 100%;
		height: auto;
		margin: 30px 0;
		padding: 25px 15px
	}
	#main .main_describe .main_title {
		font: 1.25em/1em ProximaNova-SemiBold, sans-serif
	}
	#main .main_describe .main_text1 {
		font: 1em/1.25em ProximaNova, sans-serif
	}
	#main .main_describe .main_text1.mb40 {
		margin-bottom: 20px
	}
	#main .minicatalog {
		padding: 30px 0
	}
	#main .minicatalog .minicatalog_title {
		font: 1.75em/1em ProximaNova-Bold, sans-serif;
		margin-bottom: 20px
	}
	#main .minicatalog .minicatalog_items {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap
	}
	#main .minicatalog .minicatalog_items .minicatalog_item {
		width: calc(100% - 10px);
		margin: 10px 5px 0;
		padding: 0 15px 15px
	}
	#main .minicatalog .minicatalog_items .minicatalog_item .minicatalog_itemcont .minicatalog_addToCard {
		padding: 10px 20px
	}
	#main .about {
		padding: 30px 0;
		background: #fff
	}
	#main .about .about_title {
		margin-bottom: 20px;
		font: 1.75em/1.5em ProximaNova-Bold, sans-serif;
		text-align: center
	}
	#main .about .about_text1 {
		font: .9em/1.5em ProximaNova, sans-serif;
		color: #484848
	}
	#main .about .about_garantcont {
		width: 100%;
		margin: 30px 0
	}
	#main .about .about_garantcont:after {
		content: url(../img/garanty_img.png);
		position: absolute;
		bottom: -3px;
		right: 25px;
		opacity: .2
	}
	#main .about .about_garantcont .garant_title {
		font: 1.5em/1em ProximaNova-Bold, sans-serif;
		margin-bottom: 10px
	}
	#main .about .about_garantcont .garant_text1 {
		font: .9em/1.25em ProximaNova, sans-serif
	}
	#main .about .about_subtitle {
		font: 1.25em/1em ProximaNova-SemiBold, sans-serif;
		margin-bottom: 30px
	}
	#main .about .about_list li {
		font: .9em/1.25em ProximaNova, sans-serif;
		padding-left: 40px;
		margin-bottom: 25px
	}
	#main .about .about_toggle {
		display: inline-block
	}
	#main .guitar {
		padding: 30px 0
	}
	#main .guitar .guitar_imgcont {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: start;
		align-items: flex-start
	}
	#main .guitar .guitar_imgcont .guitar_img {
		max-width: 100%;
		margin: 0
	}
	#main .guitar .guitar_title {
		font: 1.25em/1.25em ProximaNova-SemiBold, sans-serif;
		padding: 20px 0;
		margin-bottom: 20px
	}
	#main .guitar .guitar_text1 {
		font: .9em/1.5em ProximaNova, sans-serif
	}
	#main .guitar .guitar_list {
		padding: 30px 0
	}
	#main .guitar .guitar_list li {
		font: .9em/1.5em ProximaNova, sans-serif;
		padding-left: 22px;
		margin-bottom: 15px
	}
	#main .connoisseurs {
		padding: 0
	}
	#main .connoisseurs .connoisseurs_cont {
		padding: 20px;
		position: relative
	}
	#main .connoisseurs .connoisseurs_cont:after {
		content: url(../img/sentezator.png);
		position: absolute;
		top: calc(50% - 157px);
		right: -350px;
		opacity: .4;
		z-index: 1
	}
	#main .connoisseurs .connoisseurs_title {
		font: 1.25em/1.25em ProximaNova-SemiBold, sans-serif;
		padding: 0 0 20px;
		margin-bottom: 20px;
		z-index: 2
	}
	#main .connoisseurs .connoisseurs_text1 {
		width: 100%;
		font: .9em/1.5em ProximaNova, sans-serif;
		position: relative;
		z-index: 2
	}
	#main .connoisseurs .connoisseurs_list {
		display: block;
		width: 100%;
		padding: 35px 0;
		position: relative;
		z-index: 2
	}
	#main .connoisseurs .connoisseurs_list li {
		font: .9em/1.5em ProximaNova, sans-serif;
		padding-left: 22px;
		margin-bottom: 15px
	}
	#main .connoisseurs .connoisseurs_btn {
		display: block;
		padding: 15px 20px;
		font: .9em/1em ProximaNova, sans-serif;
		margin-bottom: 30px
	}
	#main .sound {
		padding: 20px 0 0
	}
	#main .sound .sound_imgcont {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background: #f4f4f8;
		overflow: hidden
	}
	#main .sound .sound_imgcont .sound_img {
		display: block;
		max-width: 100%;
		margin-left: -20px
	}
	#main .sound .sound_title {
		font: 1.25em/1.25em ProximaNova-SemiBold, sans-serif;
		padding: 20px 0;
		margin-bottom: 20px
	}
	#main .sound .sound_text1 {
		font: .9em/1.5em ProximaNova, sans-serif;
		margin-bottom: 30px
	}
	#main .sound .sound_btn {
		display: inline-block;
		font: 1em/1.25em ProximaNova-SemiBold, sans-serif;
		padding-right: 15px;
		margin-bottom: 30px
	}
	#main .advantages {
		padding: 30px 0 0
	}
	#main .advantages .advantages_title {
		font: 1.5em/1.125em ProximaNova-SemiBold, sans-serif;
		margin-bottom: 20px
	}
	#main .advantages .advantages_cont {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		padding: 20px;
		min-height: 0;
		margin-bottom: 20px
	}
	#main .advantages .advantages_text1 {
		font: .9em/1em ProximaNova, sans-serif;
		padding-left: 60px
	}
	#main .advantages .advantages_text2 {
		font: 1.125em/1.35em ProximaNova-SemiBold, sans-serif;
		text-align: center
	}
	#main .clients {
		padding: 20px 0
	}
	#main .clients .clients_title {
		font: 1.75em/2em ProximaNova-Bold, sans-serif;
		text-align: center;
		margin-bottom: 10px
	}
	#main .clients .clients_items {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		width: 100%
	}
	#main .clients .clients_items .clients_item {
		width: calc(50% - 10px);
		padding: 20px 5px;
		margin: 0 5px 10px
	}
}